.carousel-caption-1 {
    margin-top: 2%;
    margin-left: 40%;
}

.carousel-caption-2 {
    margin-top: 2%;
}

.opacity-85 {
     opacity: 0.45;
}

table.fixo {
     table-layout: fixed;
}

table.fixo td {
     overflow: auto;
     width: 25%;
}

.w-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20% !important;
  flex: 0 0 20% !important;
  max-width: 20%;
}

