<div class="carousel-caption-1">
      <button type="button" class="btn btn-info" routerLink="../book">
          <img style="margin-right:3px;" src="assets/imgs/icons/add_circle-24px.svg"><label>Criar novo livro</label></button>
</div>

<div class="container carousel-caption-2 table-responsive">

		  <table class="table table-light table-striped table-bordered fixo">
	           <thead class="thead-dark">
		                <tr>
			                  <th scope="col">Nome do livro</th>
			                  <th scope="col">Nome do autor</th>
			                  <th scope="col">Data de criação</th>
                        <th scope="col">Opções</th>
		                </tr>
	           </thead>
             <tbody>
                     <tr *ngFor="let book of books">
                         <td>{{book.nameBook}}</td>
                         <td>{{book.authorBook}}</td>
                         <td>{{book.createdAt | date:'dd/MM/yyyy' }}</td>
                         <td>
                             <div class="table-responsive">
                                   <button style="margin-left: 5px;" type="button" class="btn btn-warning" routerLink="../book/edit/{{book._id}}">
                                        <img src="assets/imgs/icons/create-24px.svg">Editar</button>
                                   <button style="margin-left: 5px;" type="button" class="btn btn-danger" (click)="deleteBook(book)">
                                        <img src="assets/imgs/icons/delete_sweep-24px.svg">Excluir</button>
                              </div>
                         </td>
                     </tr>
               
             </tbody>
      </table>

 </div>
