
<div class="container">

<form class="needs-validation" novalidate>
       <div class="form-column">
             <div class="col-md-4 mb-3">
                      <h1 style="color: black">Livro</h1>
             </div>
             <div class="col-md-4 mb-3">
                      <input [(ngModel)]="book.nameBook" name="nameBook" type="text" class="form-control" placeholder="Livro" value="" required>
             </div>
             <div class="col-md-4 mb-3">
                      <input [(ngModel)]="book.authorBook" name="authorBook" type="text" class="form-control" placeholder="Autor" value="" required>
             </div>
             <div class="col-md-4 mb-3 ">
                      <button *ngIf="!isNotNull" class="btn btn-info" type="submit" (click)="save()">Cadastrar</button>
                      <button *ngIf="isNotNull" class="btn btn-info" type="submit" (click)="update()">Atualizar</button>
             </div>
             <div class="col-md-4 mb-3">
                      <button class="btn btn-dark" type="submit" (click)="back()">Voltar</button>
             </div>
        </div>
</form>

</div>


